html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif, Arial, Verdana;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3,
h4, h5, h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

/* PAGE
****************/
.davcna-page--size-wrapper {
    width: 100%;
}

.davcna-page--size-container {
    width: 960px;
    box-sizing: border-box;
}

@media screen and (max-width: 960px) {
    .davcna-page--size-container {
        width: 768px;
    }
}

@media screen and (max-width: 768px) {
    .davcna-page--size-container {
        width: 100%;
    }
}


/* HEADER
****************/
.davcna-header--container {
    margin-bottom: 24px;
}

.davcna-header--container h1 {
    margin-bottom: 16px;
}

.davcna-header--container p strong {
    color: #337ab7;
}


/* MAIN
****************/
.davcna-main--container {
    position: relative;
    box-sizing: border-box;
    padding: 16px;
}

.davcna-main--controller-wrapper {
    padding: 24px;
    border-top: 1px solid #222;
}

.davcna-main--controller-wrapper:last-of-type {
    border-bottom: 1px solid #222;
}

.davcna-main--controller-wrapper h4 {
    margin-bottom: 24px;
    text-align: left;
}

.davcna-main--form-control {
    width: 320px;
    margin-bottom: 24px;
}

@media screen and (max-width: 480px) {
    .davcna-main--form-control {
        width: 100%;
    }
}

.davcna-main--input-control__wrapper {
    margin-bottom: 26px;
}

.davcna-main--input-control {
    box-sizing: border-box;
    padding: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
}

.davcna-main--options-list {
    margin-top: 6px;
}

.davcna-main--options-list li {
    padding: 3px;
}


/* TOOLS
****************/
.davcna-tools--container-centered {
    margin-left: auto;
    margin-right: auto;
}

.davcna-tools--copy-ready {
    padding: 26px 52px;
}

.davcna-tools--text-centered {
    text-align: center;
}

.davcna-tools--loader-placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 100%;
    background: #fff url("../../img/loader.gif") no-repeat center center / cover;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
    .davcna-tools--loader-placeholder {
        width: 320px;
    }
}

@media screen and (max-width: 440px) {
    .davcna-tools--loader-placeholder {
        width: 100%;
    }
}

/* Buttons */
.davcna-tools--btn {
    display: block;
    padding: 14px 24px;
    border: 1px solid;
    text-decoration: none;
}

.davcna-tools--btn-sbmt {
    background-color: #337ab7;
    border-color: #337ab7;
    color: #fff;
}

.davcna-tools--btn-sbmt:hover {
    background-color: #fff;
    color: #337ab7;
}

.davcna-tools--btn-sbmt:active {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
}

.davcna-tools--btn-link {
    width: 44px;
}

.davcna-tools--deactivated {
    opacity: 0;
    z-index: -1;
    transition: opacity .6s ease;
}

.davcna-tools--deactivated__positive-index {
    z-index: 9;
}

.davcna-tools--response-status {
    margin-top: 12px;
    margin-bottom: 12px;
    font-weight: bold;
}

.davcna-tools--response-status__success {
    color: #337ab7;
}

.davcna-tools--response-status__error {
    color: #d9534f;
}

.davcna-tools--disabled {
    display: none;
}